acl corpnets {
  {% for h in hosts %}
    {{ h }};
  {% endfor %}
};

options {
  directory "/var/cache/bind";
  
  allow-query { corpnets; };

  forwarders {
    {% for f in forwarders %}
      {{ f }};
    {% endfor %}
  };

  dnssec-validation no;

  auth-nxdomain no;    # conform to RFC1035
};

zone "toenail.ts" {
  type master;
  file "/etc/bind/db.toenail";
};
